@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-brand-black text-white antialiased;
}

main {
  @apply min-h-screen;
}

a {
  @apply text-brand-blue hover:text-brand-yellow transition;
}
